h1{
    text-align: center;
    font-size: 80px
}
.editar{
    position: fixed;
    bottom: 100px;
    left: 50%;
    transform: translatex(-50%);
    font-size: 60px;
}
div{/*Para centralizar a div*/
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
img{
    width: 25vh;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 10px;
    margin-left: 100px;
  
}